body {
    background: #222;
    font-family: Arial;
    color: white;
    text-align: center;
}

.box {
    width: 320px;
    background: #333;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: none;
}

button, .btn {
    padding: 10px 20px;
    background: #00bfff;
    border: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 6px;
}

a.btn { color: black; }
